#filter-container {
  text-align: right;
  margin-top: 16px;
  margin-right: 60px;
  font-family: var(--font-family);
  font-size: 14px;
}
#filter-container label {
  margin-right: 8px;
}
#filter-container input {
  vertical-align: top;
}

/* Media query for small screens */
@media (max-width: 768px) {
  #filter-container {
    text-align: center;
    margin: 0 20px;
    font-family: var(--font-family);
    font-size: 14px;
  }
}
