#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: var(--font-family-title);
  letter-spacing: 2px;
}
#footer img {
  height: 50px;
  display: inline;
}
#footer p {
  display: inline;
  bottom: 15px;
}
